html{
    background-image: url(sources/landscape.jpg);
    width: 100%;
    height: 100%;
}


body {
    width: 100vw;
    height: 100vh;
    position: relative;
    overflow: hidden;
}

.casa {
    width: 40vw;
    height: 50vh;
    position: absolute;
    bottom: 0;
    right: 0;
}

#house {
    width: 100%;
}

.sol {
    width: 10vw;
    position: absolute;
    top: 10%;
    right: 45%;
    animation: sunFade 8s linear forwards;
    opacity: 0;
}

#sun {
    width: 100%;
}

@keyframes sunFade {
    0% {
        opacity: 0;
    }
    50% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.nube {
    width: 20vw;
    height: 20vh;
    position: absolute;
    top: 0;
    left: 0;
    animation: cloudMove 5s linear forwards;
}

#cloud {
    width: 100%;
}

@keyframes cloudMove {
    0% {
        left: 100%;
    }
    50% {
        left: 30%;
    }
    100% {
        left: -100%;
    }
}

.lluvia {
    width: 20vw;
    position: absolute;
    top: 20vh;
    left: 30%;
    animation: rainFall 5s linear 2.5s forwards;
    opacity: 0;
}

#rain {
    width: 100%;
}

@keyframes rainFall {
    0% {
        top: 20vh;
        opacity: 1;
    }
    100% {
        top: 100vh;
    }
}

.flor {
    width: 5vw;
    position: absolute;
    bottom: -100%;
    right: 60%;
    animation: flowerMove 4s linear 4s forwards;
}

#flower {
    width: 100%;
}

@keyframes flowerMove {
    100% {
        bottom: 10%;
    }
}
