html{
    background-image: url(sources/landscape.jpg);
}


/* div{
    animation: cloudMoving  timing-function delay iteration-count direction fill-mode;
} */

body{
    position: absolute;
}

#cloud{
    width: 20%;
    float: right;
}

#house{
    width: 30%;
    float: right;

}