@font-face {
    font-family: Regular;
    src: url(/Dia_6/Fonts/OpenSans-Regular.ttf);
}
@font-face {
    font-family: Bold;
    src: url(/Dia_6/Fonts/OpenSans-SemiBold.ttf);
}

body{
    background-color: white;
    margin: 0;
}

a {
    text-decoration: none;
    color: black;
}

.logoMetrolinea img {
    width: 400px; 
    position: absolute;
    top: 43px;
    left: 43px;
}

.barra img {
    position: absolute;
    left: 1810px;
    width: 110px;

}

.menu img {
    position: absolute;
    left: 1852px;
    top: 446.5px;
    width: 23px;
    height: 187px;
}

.textos {
    position: absolute;
}

.textos #cantidad{
    font-family: Regular;
    position: absolute;
    left: 1825px;
    color: #FFFFFF;
    font-size: 20px;
    top: 280px;

}

.textos #texto-1 {
    font-family: Bold;
    position: absolute;
    top: 840px;
    left: 58px;
    width: 900px;
    font-size: 50px;
}

.textos #precio {
    font-family: Bold;
    position: absolute;
    left: 58px;
    top: 930px;
    width: 300px;
    font-size: 37px;  
}

.arrowUp img {
    position: absolute;
    left: 1852px;
    top: 190px;
    width: 24px;
    height: 13px;
}

.arrowDown img {
    position: absolute;
    left: 1852px;
    top: 740px;
    width: 24px;
    height: 13px;
    transform: scaleY(-1);
}

.shop img{
    position: absolute;
    left: 1730px;
    top: 51px;
    width: 40px;
}

.search img {
    position: absolute;
    left: 1630px;
    top: 51px;
    width: 40px;
}

#ver-saldo {
    margin: 0;
    position: absolute;
    font-family: Regular;
    font-size: 35px;
    top: 48px;
    left: 1430px;

}

#comprar-tarjeta {
    margin: 0;
    position: absolute;
    font-family: Regular;
    font-size: 35px;
    top: 48px;
    left: 1100px;
    
}


.cuadrado {
    position: absolute;
    width: 172px;
    height: 130px;
    background-color: #D5FF43;
    top: 890px;
    left: 1560px;
    z-index: -1;
}


.cuadrito img {
    width: 140px; 
    position: absolute;
    top: 920px;
    left: 1575px;
}

#comprar {
    position: absolute;
    font-family: Bold;
    font-size: 30px;
    left: 1582px;
    top: 930px;
}

.imagenTarjeta img{
    margin: 0;
    position: absolute;
    width: 1200px;
    top: 150px;
    left: 300px;
}

.bar {
    margin: 0;
    position: absolute;
    top: 110px;
    left: 1460px;
    width: 1px;
    height: 4px;
    background-color: black;
    opacity: 0; 
    border-radius: 10px;
    transition: width 0.5s, opacity 1s; 
}

.main:hover .bar {
    opacity: 1; 
    height: 4px;
    width: 100px; 
}

.bar2 {
    margin: 0;
    position: absolute;
    width: 1px;
    height: 4px; 
    background-color: black;
    left: 1135px;
    top: 110px;
    opacity: 0; 
    border-radius: 10px;
    transition: width 0.5s, opacity  1s; 
}

.second:hover .bar2 {
    opacity: 1;
    height: 4px; 
    width: 200px; 
}
