body{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
}


.bar{
    display:flex ;
    align-items: baseline;
    justify-content: center;
    flex-direction: row;
    background:  bisque;
    border: solid;
    border-color: black;
    border: 10px;
    border-radius: 2px;

}

#in{
    padding: 10px;
}