@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Oswald:wght@200..700&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Oswald:wght@200..700&family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Protest+Riot&display=swap');

html{
    background-image: url(./yo.jpg);
}

body {
    /* background-color: lightblue; */
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: center;
    justify-content: flex-start;
    align-items: center;
}

.name{
    font-family: "Protest Riot", sans-serif;
    font-weight: 400;
    font-style: normal;
    color: #CCCCCC;
}

#ola{
    display: flex;
    font-family: "Oswald", sans-serif;
    text-align: left;
    border: 5px;
    padding: 50;
    border-color: blue;
    color: #CCCCCC;
}


.qnSoy{
    font-family: "Kanit", sans-serif;
    width: 400px;
    margin: 0 auto;
    padding: 20px;
    border: 2px solid;
    border-color: black;
    color: #CCCCCC;
}

.myMeta{
    width: 400px;
    margin: 0 auto;
    padding: 20px;
    border: 2px solid;
    border-color: black;
    color: #CCCCCC;
}

.yo{
    width: 400px;
    margin: 0 auto;
    padding: 20px;
    border: 2px solid;
    border-color: black;
    color: #CCCCCC;
}

